<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Past Reports
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Tag Group</ion-label>
    <ion-select [(ngModel)]="selectedTagGroup" (ionChange)="filterReports()">
      <ion-select-option value="environmentalTags">Environmental</ion-select-option>
      <ion-select-option value="infrastructureTags">Infrastructure</ion-select-option>
      <ion-select-option value="safetyTags">Safety</ion-select-option>
      <ion-select-option value="aestheticTags">Aesthetic</ion-select-option>
      <ion-select-option value="wildlifeTags">Wildlife</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item button (click)="openDateRangeModal()">
    <ion-label>
      {{ selectedStartTime | date:'shortDate' }} - {{ selectedEndTime | date:'shortDate' }}
    </ion-label>
  </ion-item>

  <div id="map1"></div>
</ion-content>
