<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="not-implemented-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Under Construction</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="not-implemented-container">
    <ion-icon name="construct-outline" size="large" class="icon"></ion-icon>
    <h1>This tab is not yet implemented!</h1>
    <p>Stay tuned for updates. We're working on it!</p>
  </div>
</ion-content>
