<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Past Reports
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Tag Group</ion-label>
    <ion-select [(ngModel)]="selectedTagGroup" (ionChange)="filterReports()">
      <ion-select-option value="environmental">Environmental</ion-select-option>
      <ion-select-option value="infrastructure">Infrastructure</ion-select-option>
      <ion-select-option value="safety">Safety</ion-select-option>
      <ion-select-option value="aesthetic">Aesthetic</ion-select-option>
      <ion-select-option value="wildlife">Wildlife</ion-select-option>
    </ion-select>
  </ion-item>

  <div id="map2"></div>
</ion-content>
